<app-admin-nav></app-admin-nav>
<div class="supplierDiv ">
  <div class="supplierDivInner">
    <div class="custumPop max800 partCatagoryMain">
      <div class="custumPopHead noBord">
        <h4 class="popHead">Maintance!</h4>
        <p>Parts and Categories</p>
      </div>
      <div class="custumPopBody">
        <div class="MaintancePop partcatagoryPop">
          <div class="width50">
            <div class="MaintanceSingle">
              <h4 class="maintanceHead">Category</h4>
              <ul>
                <li>
                  <p>Toyota</p>
                  <h5 class="closeRound">X</h5>
                </li>
                <li>
                  <p>Mitsibishi</p>
                  <h5 class="closeRound">X</h5>
                </li>
                <li>
                  <p>Nissian</p>
                  <h5 class="closeRound">X</h5>
                </li>
                <li>
                  <p>Honda</p>
                  <h5 class="closeRound">X</h5>
                </li>
                <li>
                  <p>Toyota</p>
                  <h5 class="closeRound">X</h5>
                </li>
                <li>
                  <p>Mitsibishi</p>
                  <h5 class="closeRound">X</h5>
                </li>
                <li>
                  <p>Nissian</p>
                  <h5 class="closeRound">X</h5>
                </li>
                <li>
                  <p>Honda</p>
                  <h5 class="closeRound">X</h5>
                </li>
              </ul>
              <div class="text-center">
                <button class="btn commonBtnBlue widthUnset">Add</button>
              </div>
            </div>

            <div class="MaintanceSingle">
              <h4 class="maintanceHead">Parts</h4>
              <ul>
                <li>
                  <p>Toyota</p>
                  <h5 class="closeRound">X</h5>
                </li>
                <li>
                  <p>Mitsibishi</p>
                  <h5 class="closeRound">X</h5>
                </li>
                <li>
                  <p>Nissian</p>
                  <h5 class="closeRound">X</h5>
                </li>
                <li>
                  <p>Honda</p>
                  <h5 class="closeRound">X</h5>
                </li>
                <li>
                  <p>Toyota</p>
                  <h5 class="closeRound">X</h5>
                </li>
                <li>
                  <p>Mitsibishi</p>
                  <h5 class="closeRound">X</h5>
                </li>
                <li>
                  <p>Nissian</p>
                  <h5 class="closeRound">X</h5>
                </li>
                <li>
                  <p>Honda</p>
                  <h5 class="closeRound">X</h5>
                </li>
              </ul>
              <div class="text-center">
                <button class="btn commonBtnBlue widthUnset">Add</button>
              </div>
            </div>
          </div>

          <div class="width50 paddLR10">
            <h4 class="adMar">Assign Parts To Selection Box</h4>
            <div class="MaintanceSingle">
              <img src="images/carImagecat.png" class="carImage">
            </div>

            <div class="MaintanceSingle">
              <h4 class="maintanceHead">Parts</h4>
              <ul>
                <li>
                  <p>Toyota</p>
                  <h5 class="closeRound">X</h5>
                </li>
                <li>
                  <p>Mitsibishi</p>
                  <h5 class="closeRound">X</h5>
                </li>
                <li>
                  <p>Nissian</p>
                  <h5 class="closeRound">X</h5>
                </li>
                <li>
                  <p>Honda</p>
                  <h5 class="closeRound">X</h5>
                </li>
                <li>
                  <p>Toyota</p>
                  <h5 class="closeRound">X</h5>
                </li>
                <li>
                  <p>Mitsibishi</p>
                  <h5 class="closeRound">X</h5>
                </li>
                <li>
                  <p>Nissian</p>
                  <h5 class="closeRound">X</h5>
                </li>
                <li>
                  <p>Honda</p>
                  <h5 class="closeRound">X</h5>
                </li>
              </ul>
              <div class="text-center">
                <button class="btn commonBtnBlue widthUnset">Add</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>