<app-admin-nav></app-admin-nav>
<div class="supplierDiv">
  <div class="supplierDivInner">
    <div class="custumPop max800">
      <div class="custumPopHead noBord">
        <h4 class="popHead">Maintance!</h4>
      </div>
      <div class="custumPopBody">
        <div class="MaintancePop MaintancePopEditVehicle">
          <div class="MaintanceSingle">
            <h4 class="maintanceHead">Makes</h4>
            <ul>
              <li>
                <p>Toyota</p>
                <h5 class="closeRound">X</h5>
              </li>
              <li>
                <p>Mitsibishi</p>
                <h5 class="closeRound">X</h5>
              </li>
              <li>
                <p>Nissian</p>
                <h5 class="closeRound">X</h5>
              </li>
              <li>
                <p>Honda</p>
                <h5 class="closeRound">X</h5>
              </li>
            </ul>
            <div class="text-center">
              <button class="btn commonBtnBlue widthUnset">Add</button>
            </div>
          </div>
          
          <div class="MaintanceSingle">
            <h4 class="maintanceHead">Model-Toyota</h4>
            <ul>
              <li>
                <p>Corolla</p>
                <h5 class="closeRound">X</h5>
              </li>
              <li>
                <p>Camry</p>
                <h5 class="closeRound">X</h5>
              </li>
              <li>
                <p>Hilux</p>
                <h5 class="closeRound">X</h5>
              </li>
              <li>
                <p>Prado</p>
                <h5 class="closeRound">X</h5>
              </li>
            </ul>
            <div class="text-center">
              <button class="btn commonBtnBlue widthUnset">Add</button>
            </div>
          </div>
          
          <div class="MaintanceSingle">
            <h4 class="maintanceHead">Tansmission Type</h4>
            <ul>
              <li>
                <p>Automatic</p>
                <h5 class="closeRound">X</h5>
              </li>
              <li>
                <p>Manual</p>
                <h5 class="closeRound">X</h5>
              </li>
              <li>
                <p>Semi Auto</p>
                <h5 class="closeRound">X</h5>
              </li>
              <li>
                <p>Other</p>
                <h5 class="closeRound">X</h5>
              </li>
            </ul>
            <div class="text-center">
              <button class="btn commonBtnBlue widthUnset">Add</button>
            </div>
          </div>
          
          <div class="MaintanceSingle">
            <h4 class="maintanceHead">Engine Type</h4>
            <ul>
              <li>
                <p>Petrol</p>
                <h5 class="closeRound">X</h5>
              </li>
              <li>
                <p>Diesel</p>
                <h5 class="closeRound">X</h5>
              </li>
              <li>
                <p>LPG</p>
                <h5 class="closeRound">X</h5>
              </li>
              <li>
                <p>Electric/Hybrid</p>
                <h5 class="closeRound">X</h5>
              </li>
            </ul>
            <div class="text-center">
              <button class="btn commonBtnBlue widthUnset">Add</button>
            </div>
          </div>
          
          <div class="MaintanceSingle">
            <h4 class="maintanceHead">Fuel Type</h4>
            <ul>
              <li>
                <p>Petrol</p>
                <h5 class="closeRound">X</h5>
              </li>
              <li>
                <p>Diesel</p>
                <h5 class="closeRound">X</h5>
              </li>
              <li>
                <p>LPG</p>
                <h5 class="closeRound">X</h5>
              </li>
              <li>
                <p>Electric/Hybrid</p>
                <h5 class="closeRound">X</h5>
              </li>
            </ul>
            <div class="text-center">
              <button class="btn commonBtnBlue widthUnset">Add</button>
            </div>
          </div>
          
          <div class="MaintanceSingle">
            <h4 class="maintanceHead">Body Type</h4>
            <ul>
              <li>
                <p>Sedan</p>
                <h5 class="closeRound">X</h5>
              </li>
              <li>
                <p>Hatch</p>
                <h5 class="closeRound">X</h5>
              </li>
              <li>
                <p>SUV</p>
                <h5 class="closeRound">X</h5>
              </li>
              <li>
                <p>UTE</p>
                <h5 class="closeRound">X</h5>
              </li>
            </ul>
            <div class="text-center">
              <button class="btn commonBtnBlue widthUnset">Add</button>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
