<div class="commonBGdiv">
    <img src="assets/images/bg.png" class="bgImageCommon">
</div>
<div class="container-fluid paddLR50">
    <div class="menuDiv">
        <div class="menuLeft">
            <img src="assets/images/smalllogo.png" class="menuLogo">
            <div class="adminName">
                <h4>Dashboard</h4>
                <p>Admin</p>
            </div>
            <div class="menuDivBtn">
                <button class="btn commonBtnBlue Active"> Suppliers</button>
                
            </div>
            <div class="menuDivBtn">
                <button class="btn commonBtnBlue "> Members</button>
                
            </div>
            <div class="menuDivBtn">
                <button class="btn commonBtnBlue"> Invoice</button>
                
            </div>
            <div class="menuDivBtn">
                <button class="btn commonBtnBlue"> Maintaince</button>
                
            </div>
            <div class="menuDivBtn">
                <button class="btn commonBtnBlue smallBtn"><img src="assets/images/settingIcon.png" class="settingLogo"> </button>
            </div>
        </div>
        <div class="menuright">

                <!-- FROM ADMIN PROFILE  -->
                <app-admin-profile></app-admin-profile>

            <!-- <div class="sideBox">
                <div class="imageDiv">
                    <img src="images/profile.jpg" class="userIcon">
                </div>
                <div class="sideBoxText">
                    <h4>anderu symond</h4>
                    <p>Account type : Personal</p>
                    <p>Location : XX-XX-XX</p>
                    <p>change Password</p>
                </div>

                <a>Edit</a>
                <p class="roundBlue"><span class=""></span>Notifications</p>
            </div> -->
            
        </div>
    </div>
</div>