<div class="wrapper">

  <noscript>
  <div id="jqcheck"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAB60lEQVQ4T2NkwAHePzrxf3ebL1jWp/0oA5egGiM2pVgFQQq31uj/N/ANZvj+8T3D7aNHGDwbTxNvwKtbO/9f3dLHYJ+axfDn5w+GI/NnMRhFtTEISJtjGIIh8Pv39/87ak0ZzCLiGMRUNMCufnLxDMOlrZsY3JtOMrCwsKPowTDg3tGZ/59f2sVgFRvPkO+bAzZgwsZJDEcXzWNQtIlikDGIwG3Az+9v/+9qsGOwTc1h4JeQhhswcfMUhrcP7zEcXzyXwb3xMAMbuwDcEBTTzi7P/s/M8IFB3zccbDPMBSADQODs2sUMzFwyDIah/ZgGfHt/7/+BvmAGm+RsBl4RMawGfHr5jOHowlkMjiUbGDj55MCGwE060Of1X0RZi0Hb2Q4e3eguAElc2X2A4e2DmwwOhVsRBnx6cfH/yXm5DFZxyQxcAoJ4Dfj24T3DsUVzGcwSJjLwSxkygk3ZVmv4X805gkHZRBNXwkQRv3/+NsP1nUsYvFvOMzI+PLXo/73DSxgsouIYOHj5UBRi8wJIwY8vnxlOLV/CIGcewsC4vkDhv01yLoOIoiqG7bgMACn88Owxw8HpvQyMGwqV/vs19TMwQnxDEthYW8DAeGCC3/9XN46TpBGmWEzDkoHx06dP/z9//kyWAby8vAwAcza2SBMOSCMAAAAASUVORK5CYII="> Javascript is disabled. Please enable it for better working experience.</div>
  </noscript>        
  
  <header class="header">
    <div class="container">
      <div class="row">
        <div class="mnu">	
          <span class="hamburger hamburger--collapse">
            <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
          </span>	
          <div class="respon navbar-main">
            <div class="search-box">
              <form>
                <input type="text" placeholder="Track Here">
                <button type="submit"><img src="assets/images/search-icon.png" alt="" /></button>
              </form>
            </div>
              <ul class="nav navbar-nav">
                <li><a href="member-listing.php">Members</a></li>
                <li><a routerLink="/signup-customer">Sign Up</a></li>
                <li><a routerLink="/login">Login</a></li>
                <li><a href="javascript:;" class="sidebar-btn">Contact</a></li>								                              
              </ul>						
            </div>
        </div>					
      </div>
    </div>
    <div class="logo"><a href="index.php"><img src="assets/images/logo.png" alt="" /></a></div>
  </header>
      <div class="commonBgDiv"><img src="assets/images/banner.jpg" alt="" /></div>
        <div class="banner-wrap" style="display: none">	
          <div class="banner" style="background-image:url(assets/images/banner.jpg);">
          <div class="banner-in">
            <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="wrap-box">
                  <div class="boxs comreg">
                  <div class="boxs-in">
                    <h4>Complete Registeration</h4>						
                    <div class="frm scrol">
                      <form class="jform" [formGroup]="supplierSignUpForm" (submit)="signUp()">							
                        <div class="field">
                          <input type="text" placeholder="First Name"  formControlName="first_name"/>
                          <!-- <fieldset>First Name</fieldset> -->
                          <div *ngIf="submit && f.first_name.errors" class="invalid-feedback">
                            <div *ngIf="f.first_name.errors.required">First Name is required</div>
                          </div>
                        </div>								
                        <div class="field">
                          <input type="text" placeholder="Last Name"  formControlName="last_name"  />
                          <!-- <fieldset>Last Name</fieldset> -->
                          <div *ngIf="submit && f.last_name.errors" class="invalid-feedback">
                            <div *ngIf="f.last_name.errors.required">Last Name is required</div>
                          </div>
                        </div>								
                        <div class="field">
                          <input type="text" placeholder="Username"  formControlName="user_name"  />
                          <!-- <fieldset>Username</fieldset> -->
                          <div *ngIf="submit && f.user_name.errors" class="invalid-feedback">
                            <div *ngIf="f.user_name.errors.required">Username is required</div>
                          </div>
                        </div>
                        <div class="field">
                          <input type="tel" placeholder="Mobile Number"  formControlName="personal_contact"  />
                          <!-- <fieldset>Mobile Number</fieldset> -->
                          <div *ngIf="submit && f.personal_contact.errors" class="invalid-feedback">
                            <div *ngIf="f.personal_contact.errors.required">Mobile Number is required</div>
                          </div>
                        </div>
                        <div class="field">
                          <input type="text" placeholder="Address"  formControlName="business_address"  />
                          <!-- <fieldset>Address</fieldset> -->
                          <div *ngIf="submit && f.business_address.errors" class="invalid-feedback">
                            <div *ngIf="f.business_address.errors.required">Address is required</div>
                          </div>
                        </div>
                        <div class="btnt btnt2">									
                          <button class="btn-def" type="submit" value="Save">Save</button>									
                        </div>								
                      </form>
                    </div>					
                  </div>					
                  </div>
                </div>
              </div>		
              </div>		
            </div>
            </div>
          </div>
        </div>
        <div class="commonBGdiv">
          <img src="assets/images/bg.png" class="bgImageCommon">
        </div>
        <!-- fix bg -->
        <!-- main Page -->
        <div class="commonMainDiv">
          <!-- menu strat -->
          <!-- <div class="container-fluid paddLR50">
            <div class="menuDiv">
              <div class="menuLeftSuplier">
                <img src="images/smallLogo.png" class="menuLogo">
                
              </div>
              <div class="menurightSuplier">
                <div class="searchDivMenu">
                  <input type="text" class="serchMenu">
                  <img src="images/beatIcon.png" class="beatIcon">
                </div>
                <a>Members</a>
                <a>Sign Up</a>
                <a>Login</a>
                <a>Contact</a>
              </div>
            </div>
          </div> -->
          
          <!-- menu end -->
        
        <!-- member account -->
          <div class=" container">
          <div class="supplierDiv memeberAccountmain supplierDivSignup container">
            <div class="supplierDivInner ">
              <div class="custumPop  profileDetailsBG ">
                <div class="custumPopHead noBord ProfileDetailsHead">
                  <h4 class="popHead">SignUp	 - <span>As Supplier</span></h4>
                </div>
                <form [formGroup]="supplierSignUpFormSecond" (submit)="signUp()" >
                <div class="custumPopBody ProfileDetailsBody">
                  <div class="popSupplierText padd0">
                    <!-- member account Left section -->
                    <div class="width75N memAccRight">
                      <div class="memRightBtnGroup signUpSupp">
                          <div class="width80">
                            <div class="formgroup">
                              <label>Business Name</label>
                              <input type="text" class="commonInput" formControlName="business_name">
                              <div *ngIf="submit && s.business_name.errors" class="invalid-feedback">
                                <div *ngIf="s.business_name.errors.required">Business Name is required</div>
                              </div>
                            </div>
                            <div class="formgroup">
                              <label>Contact Person</label>
                              <input type="text" class="commonInput" formControlName="business_contact_number">
                              <div *ngIf="submit && s.business_contact_number.errors" class="invalid-feedback">
                                <div *ngIf="s.business_contact_number.errors.required">Contact Person r is required</div>
                              </div>
                            </div>
                          </div>
                          <div class="clearfix"></div>
                          <div class="fullwidth">
                            <div class="formgroup DisF marB10">
                              <div class="formgroup formgroupN1 ">
                                <label>Phone Number</label>
                                <input type="text" class="commonInput" formControlName="personal_contact">
                                <span class="ORclass">Or</span>
                              </div>
                              <div class="formgroup formgroupN2 " >
                                <label>Mobile Number </label>
                                <input type="text" class="commonInput" formControlName="mobile_no">
                              </div>
                            </div> 
                            <div *ngIf="submit && s.personal_contact.errors" class="invalid-feedback">
                                <div *ngIf="s.personal_contact.errors.required">Mobile Number is required</div>
                              </div>
                          </div> 
                          <div class="width80">
                            <div class="formgroup">
                              <label>Email Address</label>
                              <input type="text" class="commonInput" formControlName="email_id">
                              <div *ngIf="submit && s.email_id.errors" class="invalid-feedback">
                                <div *ngIf="s.email_id.errors.required">Email Address is required</div>
                                <div *ngIf="s.email_id.errors.email">Email must be a valid email address</div>
                                
                              </div>
                            </div>
                            <div class="formgroup">
                              <label>ABN</label>
                              <input type="text" class="commonInput" formControlName="business_abn">
                              <div *ngIf="submit && s.business_abn.errors" class="invalid-feedback">
                                <div *ngIf="s.business_abn.errors.required">ABN is required</div>
                              </div>
                            </div>
                            <div class="formgroup">
                              <label>Business Type</label>
                              <select class="commonInput" formControlName="business_type">
                                <option>option1</option>
                                <option>option1</option>
                                <option>option1</option>
                              </select>
                              <div *ngIf="submit && s.business_type.errors" class="invalid-feedback">
                                <div *ngIf="s.business_type.errors.required">Business Type is required</div>
                              </div>
                            </div>
                          </div>
                          
                          
                        
                          
                          <!-- <div class="clearfix "></div>
                          <div class="text-center marT30">
                            <button class="btn commonWhiteBtn">Print</button>
                            <button class="btn commonBlueBtn">Submit</button>
                          </div>  -->
                        </div>
                    
                    </div>
                    <!-- member account Left section end -->
                    <!-- member account right section start -->
                    <div class="width40N memAccLeft">
                      <div class="AccountStatDiv signUpSupp" >
                        <div class="AccountStatDivInner AccountStatDivInnerHt">
                          <div class="memStateHeadSignUpRIght  ">
                            <div class="formgroup">
                              <label>Address</label>
                              <input type="text" class="commonInput" formControlName="business_address">
                              <div *ngIf="submit && s.business_address.errors" class="invalid-feedback">
                                <div *ngIf="s.business_address.errors.required">Address is required</div>
                              </div>
                            </div>
                            
                            <div class="formgroup DisF marB10">
                              <div class="formgroup formgroupN2 ">
                                <label>Suburb</label>
                                <input type="text" class="commonInput" formControlName="suburbs">
                                <div *ngIf="submit && s.suburbs.errors" class="invalid-feedback">
                                  <div *ngIf="s.suburbs.errors.required">Suburb is required</div>
                                </div>
                              </div>
                              <div class="formgroup formgroupN1 ">
                                <label>Post Code </label>
                                <input type="text" class="commonInput" formControlName="postcode">
                                <div *ngIf="submit && s.postcode.errors" class="invalid-feedback">
                                  <div *ngIf="s.postcode.errors.required">Post Code is required</div>
                                </div>
                              </div>
                            </div>
                            <div class="formgroup DisF marB10">
                              <div class="formgroup formgroupN1 ">
                                <label>State</label>
                                <input type="text" class="commonInput" formControlName="state">
                                <div *ngIf="submit && s.postcode.errors" class="invalid-feedback">
                                  <div *ngIf="s.postcode.errors.required">State is required</div>
                                </div>
                              </div>
                            </div>
                            
                            <div class="formgroup signupTextN">
                              <input type="checkbox" class="checkIcon" formControlName="termsCond">
                              <!-- <img src="assets/images/checkBox.png" class="checkIcon"> -->
                              <p>I acknowledge that I have read all  the <a>terms and conditions</a> set out for the use of this website and Im bound by those conditions.</p>
                              <div *ngIf="submit && s.termsCond.errors" class="invalid-feedback">
                                <div *ngIf="s.termsCond.errors.required">Terms & Condition is required</div>
                              </div>
                            </div>
                            <div class="text-center marT30">
                            <button class="btn commonBlueBtn" type="submit">Register</button>
                          </div> 
                          </div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                    <!-- member account right section end -->
              </div>
            </form >
            </div>
          </div>
      
      
          <!-- member account Profile end-->
        </div>
        </div>
      <footer>
        <div class="container">
          <div class="row">
  
          </div>
        </div>
      </footer>
    </div>